<!DOCTYPE html>
<html lang="uk" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Додати витрати до бази даних для бізнесу</title>
</head>
<body>

<form th:method="POST" th:action="@{/business_expenses}" th:object="${businessExpenses}">
    <label for="fuel">Витрати на паливо:______________</label>
    <input type="text" id="fuel" th:field="*{fuel}" required>
    <br/>
    <label for="maintenance">Витрати на ТО:_________________</label>
    <input type="text" id="maintenance" th:field="*{maintenance}" required>
    <br/>
    <label for="salaryValya">Витрати на зарплатню Валі:_______</label>
    <input type="text" id="salaryValya" th:field="*{salaryValya}" required>
    <br/>
    <label for="salaryIra">Витрати на зарплатню Ірі:________</label>
    <input type="text" id="salaryIra" th:field="*{salaryIra}" required>
    <br/>
    <label for="utilityAndWater">Витрати на комуналку та воду:____</label>
    <input type="text" id="utilityAndWater" th:field="*{utilityAndWater}" required>
    <br/>
    <label for="rent">Витрати на оренду:______________</label>
    <input type="text" id="rent" th:field="*{rent}" required>
    <br/>
    <label for="taxSingle">Єдиний податок:________________</label>
    <input type="text" id="taxSingle" th:field="*{taxSingle}" required>
    <br/>
    <label for="taxPension">ЄСВ:__________________________</label>
    <input type="text" id="taxPension" th:field="*{taxPension}" required>
    <br/>
    <label for="owner">Доставка товарів господарем:_____</label>
    <input type="text" id="owner" th:field="*{owner}" required>
    <br/>
    <label for="suppliers">Доставка товарів постачальниками:</label>
    <input type="text" id="suppliers" th:field="*{suppliers}" required>
    <br/>
    <label for="dateExpensesBusiness">Дата витрат</label>
    <input type="date" id="dateExpensesBusiness" name="dateExpensesBusiness" required>

    <input type="submit" value="Додати">
</form>

</body>
</html>