<!DOCTYPE html>
<html lang="uk" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Додати витрати до бази даних</title>
</head>
<body>

<form th:method="POST" th:action="@{/personal_expenses}" th:object="${personalExpenses}">
    <label for="foodExpense">Їжа:______________</label>
    <input type="text" th:field="*{foodExpense}" id="foodExpense" required>
<br/>
    <label for="utilityExpense">Комунальні витрати:</label>
    <input type="text" th:field="*{utilityExpense}" id="utilityExpense" required>
<br/>
    <label for="otherExpense">Інші витрати:______</label>
    <input type="text" th:field="*{otherExpense}" id="otherExpense" required>
<br/>
    <label for="dateExpensePersonal">Дата витрат</label>
    <input type="date" th:field="*{dateExpensePersonal}" id="dateExpensePersonal" required>

    <input type="submit" value="Додати">
</form>

</body>
</html>