<!DOCTYPE html>
<html lang="uk" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Додати витрати до бази даних</title>
    <style>
        /* Додаткові стилі для покращення вигляду */
        body {
            font-family: Arial, sans-serif;
        }

        /* Стилі для кнопки "Видалити" */
        input[type="submit"] {
            background-color: #ff6347;
            color: white;
            padding: 8px 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #2c7729;
        }
    </style>
</head>
<body>

<form th:method="POST" th:action="@{/personal_expenses}" th:object="${personalExpenses}">
    <label for="foodExpense">Їжа:______________</label>
    <input type="text" th:field="*{foodExpense}" id="foodExpense" required>
<br/>
    <label for="utilityExpense">Комунальні витрати:</label>
    <input type="text" th:field="*{utilityExpense}" id="utilityExpense" required>
<br/>
    <label for="otherExpense">Інші витрати:______</label>
    <input type="text" th:field="*{otherExpense}" id="otherExpense" required>
<br/>
    <label for="dateExpensePersonal">Дата витрат</label>
    <input type="date" th:field="*{dateExpensePersonal}" id="dateExpensePersonal" required>

    <input type="submit" value="Додати">
</form>

</body>
</html>