<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<label>Витрати на їжу:</label>
<p th:text="${personalExpenses.getFoodExpense()}">VALUE</p>

<label>ID:</label>
<p th:text="${personalExpenses.getId()}">VALUE</p>

<label>Витрати на комунальні послуги:</label>
<p th:text="${personalExpenses.getUtilityExpense()}">VALUE</p>

<label>ID:</label>
<p th:text="${personalExpenses.getId()}">VALUE</p>

<label>Інші витрати:</label>
<p th:text="${personalExpenses.getOtherExpense()}">VALUE</p>

<label>ID:</label>
<p th:text="${personalExpenses.getId()}">VALUE</p>

<a th:href="@{/personal_expenses/{id}/edit(id=${personalExpenses.getId()})}">Edit</a>

<form th:method="POST" th:action="@{/personal_expenses/{id}(id=${personalExpenses.getId()})}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Видалити">
</form>
</body>
</html>