<!DOCTYPE html>
<html lang="uk" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name="viewExpenses" content="width=device-width, initial-scale=1.0">
  <title>Таблиця витрат</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>

<h2>Таблиця витрат</h2>

<table id="personal_expenses">

  <tr>
    <th>ID</th>
    <th>Дата</th>
    <th>Витрати на їжу</th>
    <th>Витрати на комунальні послуги</th>
    <th>Інші витрати</th>
    <th>Тип витрат</th>
  </tr>
  <!-- Додайте цикл для кожного запису у вашому масиві -->
  <tr th:each="expense : ${expenses}">
    <td th:text="${expense.id}"></td>
    <td th:text="${expense.dateExpensePersonal}"></td>
    <td th:text="${expense.foodExpense}"></td>
    <td th:text="${expense.utilityExpense}"></td>
    <td th:text="${expense.otherExpense}"></td>
    <td th:text="${expense.expenseType}"></td>
    <td>
      <form th:action="@{/personal_expenses/{id}(id=${expense.id})}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">Видалити</button>
      </form>
    </td>
  </tr>
  <!-- Продовжуйте додавати рядки для кожного запису -->
</table>

</body>
</html>
