<!DOCTYPE html>
<html lang="uk" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Додати дохід до бази даних</title>
</head>
<body>


<form th:method="POST" th:action="@{/income_shop}" th:object="${income}">
  <label for="incomeCash">Дохід готівкою:____</label>
  <input type="text" id="incomeCash" th:field="*{incomeCash}" required>
<br/>
  <label for="incomeCashless">Безготівковий дохід:</label>
  <input type="text" id="incomeCashless" th:field="*{incomeCashless}" required>
  <br/>
  <label for="incomeOther">Інший дохід:_______</label>
  <input type="text" id="incomeOther" th:field="*{incomeOther}" required>
  <br/>
  <label for="dateIncome">Дата доходу:</label>
  <input type="date" id="dateIncome" th:field="*{dateIncome}" required>

  <input type="submit" value="Додати">
</form>

</body>
</html>