<!DOCTYPE html>
<html lang="uk" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Додати дохід до бази даних</title>
  <style>
    /* Додаткові стилі для покращення вигляду */
    body {
      font-family: Arial, sans-serif;
    }

    /* Стилі для кнопки "Видалити" */
    input[type="submit"] {
      background-color: #ff6347;
      color: white;
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #2c7729;
    }
  </style>
</head>
<body>


<form th:method="POST" th:action="@{/income_shop}" th:object="${income}">
  <label for="incomeCash">Дохід готівкою:____</label>
  <input type="text" id="incomeCash" th:field="*{incomeCash}" required>
<br/>
  <label for="incomeCashless">Безготівковий дохід:</label>
  <input type="text" id="incomeCashless" th:field="*{incomeCashless}" required>
  <br/>
  <label for="incomeOther">Інший дохід:_______</label>
  <input type="text" id="incomeOther" th:field="*{incomeOther}" required>
  <br/>
  <label for="dateIncome">Дата доходу:</label>
  <input type="date" id="dateIncome" th:field="*{dateIncome}" required>

  <input type="submit" value="Додати">
</form>

</body>
</html>