<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Додати дохід до бази даних</title>
</head>
<body>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('incomeForm').addEventListener('submit', function (event) {
      event.preventDefault();

      const incomeType = document.getElementById('incomeType').value;
      const dateIncome = document.getElementById('dateIncome').value;

      // Використовую вхідне значення dateIncome безпосередньо
      const serverDate = dateIncome;

      // Створюю новий об'єкт FormData
      const formData = new FormData();

      // Додаю оброблені дані до форми
      formData.append('incomeType', incomeType);
      formData.append('dateIncome', serverDate);

      // Отримую інші дані з форми
      document.querySelectorAll('input[type="text"]').forEach(input => {
        formData.append(input.name, input.value);
      });

      // Отримую дані з вибору
      formData.append('incomeType', document.getElementById('incomeType').value);

      // Відправляю дані на сервер
      fetch('http://localhost:8080/income/api/income', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(Object.fromEntries(formData))
      })
              .then(response => response.json())
              .then(data => console.log('Success:', data))
              .catch(error => console.error('Error:', error));
    });
  });
</script>

<form id="incomeForm" accept-charset="UTF-8">
  <label for="incomeCash">Дохід готівкою:____</label>
  <input type="text" id="incomeCash" name="incomeCash" required>
<p>
  <label for="incomeCashless">Безготівковий дохід:</label>
  <input type="text" id="incomeCashless" name="incomeCashless" required>
<p>
  <label for="incomeOther">Інший дохід:_______</label>
  <input type="text" id="incomeOther" name="incomeOther" required>
<p>
  <label for="dateIncome">Дата доходу:</label>
  <input type="date" id="dateIncome" name="dateIncome" required>

  <label for="incomeType">Тип доходу:</label>
  <select id="incomeType" name="incomeType" required>
    <option value="CASH">Готівкою</option>
    <option value="CASHLESS">Безготівковий</option>
    <option value="OTHER">Інший</option>
  </select>

  <input type="submit" value="Додати">
</form>

</body>
</html>