@import "variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 14px/1.2 Arial, Verdana, sans-serif;
  color: $main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

input,
textarea,
select,
button,
button:focus {
  outline: none;
  -webkit-appearance: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  margin: 0 0 10px;
  font: 900 24px/1.2 Arial, Verdana, sans-serif;
}

#app {
  min-height: 100%;
}

.button {
  width: 100%;
  padding: 14px 20px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  background: $button;
  transition: background 0.3s;
  box-shadow: $box-shadow;
  border: 0;
  cursor: pointer;

  &:hover {
    background: $button-hover;
  }

  &.disabled:hover {
    background: $button;
  }
}

.error {
  display: block;
  padding: 0 10px;
  margin: -12px 0 -14px;
  font-size: 12px;
  font-style: italic;
  color: $error;
}

.divider {
  margin: 0 0 20px;
  color: $main;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}