$main: #26194d;
$substrate: #f9f9f9;
$field-background: #f0f8fa;
$alt-field-background: #dceef5;
$button: #694df7;
$button-hover: #7960f7;
$edit: #9c9a9a;
$error: #f5422f;
$error-hover: #cc1602;
$success: #03ab4f;
$success-hover: #06c75d;
$box-shadow: 0 0 3px rgba(0,0,0, 0.45);