<!DOCTYPE html>
<html lang="ua" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/registration}" th:object="${person}">
    <label for="username">Введіть імʼя користувача: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Errors</div>
    <br/>
    <label for="password">Введіть пароль: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Errors</div>
    <br/>
    <input type="submit" value="Sign up!">
</form>

</body>
</html>