<!DOCTYPE html>
<html lang="uk" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Отримати суму інших витрат</title>
</head>
<body>
<form action="http://localhost:8080/other_expenses/api/sum-expenses-other-between-date" method="get">
    <label>
        <input type="date" name="startDate" placeholder="Початкова дата">
    </label>
    <label>
        <input type="date" name="endDate" placeholder="Кінцева дата">
    </label>
    <input type="submit" value="Отримати">
</form>

<h2>Сума витрат за обраною категорією:</h2>
<h3 th:text="${'Сума витрат за категорією OTHER ' + ': ' + totalExpenses}"></h3>

</body>
</html>