<!DOCTYPE html>
<html lang="uk" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Отримати суму витрат на зарплатню Валі</title>
</head>
<body>
<form action="http://localhost:8080/operation_expenses/api/sum_expenses_salary_v_between_date" method="get">
    <label>
        <input type="date" name="startDate" placeholder="Початкова дата">
    </label>
    <label>
        <input type="date" name="endDate" placeholder="Кінцева дата">
    </label>
    <input type="submit" value="Отримати">

    <h2>Сума витрат за обраною категорією:</h2>
    <h3 th:text="${'Сума витрат на зарплатню Валі ' + ': ' + totalExpensesSalaryV}"></h3>
</form>

</body>
</html>